[submodule "htop"]
	path = htop
	url = http://github.com/phlipper/chef-htop
[submodule "neo4j"]
	path = neo4j
	url = https://github.com/michaelklishin/neo4j-server-chef-cookbook
[submodule "users"]
	path = users
	url = http://github.com/opscode-cookbooks/users.git
[submodule "java"]
	path = java
	url = http://github.com/opscode-cookbooks/java.git
[submodule "emacs"]
	path = emacs
	url = http://github.com/opscode-cookbooks/emacs
[submodule "windows"]
	path = windows
	url = http://github.com/opscode-cookbooks/windows.git
